.header {
  .nav-list {
    .nav-items {
      padding-left: 59px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      color: #607080;
    }
  }
}