.popular-places {
  .places {
    padding: 110px 26px 42px 26px;
    background: url("./img/1.png") center center no-repeat;
    height: 377px;
    width: 100%;
    background-size: cover;
  }

  .location {
    width: 44px;
    height: 58px;
  }

  .title-location {
    padding: 46px 0 8px 0;
  }

  .kuala-lumpur {
    background: url("./img/3.png") center center no-repeat;
    height: 377px;
    width: 100%;
    background-size: cover;
  }

  .agra {
    background: url("./img/2.png") center center no-repeat;
    height: 377px;
    width: 100%;
    background-size: cover;
  }

  .munich {
    background: url("./img/4.png") center center no-repeat;
    height: 377px;
    width: 100%;
    background-size: cover;
  }

  .paris {
    background: url("./img/5.png") center center no-repeat;
    height: 377px;
    width: 100%;
    background-size: cover;
  }

  .view-more {
    padding: 92px 56px 90px;
    background: url("./img/6.png") center center no-repeat;
    height: 377px;
    width: 100%;
    background-size: cover;

    .more-btn {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      color: #FFFEFE;
    }
    .title-more {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      color: #FFFEFE;
    }
  }

  .title {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 140%;
    color: #FFFEFE;
  }

  .desc {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #F2F9FF;
  }

  .gift {
    padding-right: 8px;
    font-weight: 900;
    font-size: 13px;
    line-height: 140%;
    color: #FFFEFE;
  }
}